FEISHU_APP_ID=cli_xxx
FEISHU_APP_SECRET=your_feishu_app_secret
FEISHU_APP_TOKEN=PR3vbzt29aqmz5sgFtYcEaTan1g

PPI_TABLE_NAME=PPI CALCULATOR
RSP_TABLE_NAME=RSP REFERENCE-CPD
RSP_COLUMN_NAME=RSP (Y26 38)
PPI_LINK_FIELD=Link

LOREAL_AZURE_CLIENT_ID=your_azure_client_id
LOREAL_AZURE_CLIENT_SECRET=your_azure_client_secret
LOREAL_AZURE_TENANT_ID=e4e1abd9-eac7-4a71-ab52-da5c998aa7ba
LOREAL_AZURE_RESOURCE=api://61f4d745-2ed5-4c9c-8e40-87234333319e
LOREAL_CONTEXT_ID=cnmscgpoc-dv
LOREAL_CONFIG_ID=your_vision_config_id
